@import "compass/css3";
@import "compass/css3";

// from https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

html, body {
  @include font-smoothing(on);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  @include user-select(none);
}

body > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fullscreen {
  width: 100%;
  height: 100%;

  // Big canvas in the background, style the Element
  > div:last-child {
    position: fixed !important;
    overflow: visible !important;
    z-index: -1;
    visibility: hidden;
  }
}

.widget {
  position: absolute;
}

$controls-width: 260px;
$tray-open-duration: 0.3s;
$tray-open-timing-function: ease;

.controls {
  padding: 0;
  float: left;
  width: $controls-width;
  border-right: 1px solid #ddd;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  @include transition-property(margin-left);
  @include transition-duration($tray-open-duration);
  @include transition-timing-function($tray-open-timing-function);
}

.controls.tray-closed {
  margin-left: -$controls-width;
}

.control-panel {
  border-width: 0px;
  border-bottom: 1px solid #ddd;
  padding: 15px;

  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  // Deal with bug 1 of flexbugs
  // flex divs shrink smaller than their contents in webkit
  flex-shrink: 0;

  > div {
    width: 100%;
  }
}

$legend-width: 40px;

.legend {
  width: $legend-width;
  float: left;

  // keep the buttons at the top by styling the Element
  div {
    height: 0 !important;
    overflow: visible !important;
  }
}

$legend-font-size: 20px;
.legend-icon {
  font-size: $legend-font-size;
  padding: ($legend-width - $legend-font-size) / 2;
  cursor: pointer;
  background-color: #ddd;
  position: static;
  opacity: 0.7;
}

input[type="file"] {
  border: none;
  width: 100%;
}

.main-view {
  width: calc(100% - #{$controls-width + $legend-width});
  height: 100%;
  background-color: green;
  float: left;
  @include transition-property(width);
  @include transition-duration($tray-open-duration);
  @include transition-timing-function($tray-open-timing-function);
}

.main-view.tray-closed {
  width: 100%;
}

.text-centerer {
  text-align: center;
  width: 100%;
}