@import "compass/css3";
@import "compass/css3";

// from https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

$controls-background: white;
$plot-background: black;

html, body {
  @include font-smoothing(on);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  @include user-select(none);
  background-color: $plot-background;
}

body > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.widget {
  position: absolute;
}

$controls-width: 260px;
$tray-open-duration: 0.3s;
$tray-open-timing-function: ease;
$border-color: #ddd;
$border-style: 1px solid $border-color;

.controls {
  padding: 0;
  float: left;
  width: $controls-width - 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  background-color: $controls-background;
  border-right: $border-style;
  @include transition-property(margin-left);
  @include transition-duration($tray-open-duration);
  @include transition-timing-function($tray-open-timing-function);
}

.controls.tray-closed {
  margin-left: -$controls-width;
}

.control-panel {
  border-width: 0px;

  &:not(:last-child) {
    border-bottom: $border-style;
  }

  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  // Deal with bug 1 of flexbugs
  // flex divs shrink smaller than their contents in webkit
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;

  > div {
    width: 100%;
  }
}

$y-label-width: 40px;

.y-label {
  width: $y-label-width;
  float: left;
}

.main-canvases {
  position: absolute;
  left: 0px;
  top: 0px;
}

$x-label-height: 25px;

.black-axis-end {
  background-color: $plot-background;
  width: $y-label-width;
  // This and body with black background are used to always fill to the bottom
  height: $x-label-height - 1;
}

$y-label-font-size: 20px;
.y-label-icon {
  font-size: $y-label-font-size;
  padding: ($y-label-width - $y-label-font-size) / 2;
  cursor: pointer;
  background-color: $border-color;
  position: static;
  opacity: 0.9;
}

input[type="file"] {
  border: none;
  width: 100%;
}

.main-view {
  width: calc(100% - #{$controls-width + $y-label-width});
  height: 100%;
  background-color: green;
  float: left;
  @include transition-property(width);
  @include transition-duration($tray-open-duration);
  @include transition-timing-function($tray-open-timing-function);
}

.main-view.tray-closed {
  width: 100%;
}

.text-centerer {
  text-align: center;
  width: 100%;
}
